<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}"/>  
    </head>
    <body>    
        <img id="logo" src="static\fluke-logo.png">
        <h1>MerLin- Fluke Analytics</h1><br>    
        <div class="login">    
        <form id="login" method="post">    
            <label><b>User Name     
            </b>    
            </label>    
            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>    
            <label><b>Password     
            </b>    
            </label>    
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>    
            <button type="submit" value="Submit"><strong>Login</strong></button>       
            <br><br>   
            {% if message %}
            <strong style="color: red;">{{message}}</strong>
            {% endif %}    
        </form>     
    </div>
    <footer id="footer">
        {% block footer %}
        &copy; Copyright 2022 by <a href="https://www.fluke.com/">Fluke Corporation</a>.
        {% endblock %}
      </footer>    
    
    </body>  
</html>